@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root {
  --background: rgb(237, 234, 225);
  --red: rgb(231, 111, 081);
  --orange: rgb(244, 162, 097);
  --yellow: rgb(233, 196, 106);
  --green: rgb(042, 157, 143);
  --black: rgb(38, 70, 83);
}

body {
  background-color: var(--green);
  font-family: 'Montserrat';
  color: var(--black);
  padding-top: 30px;
  padding-bottom: 50px;
}

button {
  --block-shadow-color: var(--black);
}

div.container {
  display: absolute;
  margin:0 auto;
  width: 500px;
  padding: 30px 50px;
  --block-background-color: var(--background);
}

div.header {
  width: 100%;
  margin-top: 45px;
}

div.header img#icon {
  width: 140px;
}

div.header-info {
  margin: -130px 170px;
  width: 200px;
  padding: 20px;
}

div.header-info h1 {
  font-family: 'Sacramento';
  color: var(--green);
  font-size: 60px;
  line-height: 50px;
  margin-top: 10px;
}

div.header-info p {
  margin-top: -40px;
}

p#uid {
  width: 250px;
  overflow-wrap: break-word;
  font-size: 13px;
}

div.header button#upload-button {
  margin-top: 50px;
  margin-right: 30px;
  float: right;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Montserrat';
}

div.chart {
  margin-top: 200px;
}

img#deco-2 {
  position: absolute;
  z-index: 2;
  width: 500px;
  margin: -80px -53px;
}

button#x-button {
  position: absolute;
  margin: -1px 455px;
  width: 42px;
  height: 31px;
  z-index: 3;
}
