@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root {
    --background: rgb(237, 234, 225);
    --red: rgb(231, 111, 081);
    --orange: rgb(244, 162, 097);
    --yellow: rgb(233, 196, 106);
    --green: rgb(042, 157, 143);
    --black: rgb(038, 070, 083);
}

body {
    background-color: var(--green);
    font-family: 'Montserrat';
    color: var(--black);
    padding-top: 30px;
    padding-bottom: 50px;
}

div.all-settings button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.settings {
    text-align: center;
}

div.settings button {
    display: inline-block;
    width: 130px;
}

button {
    font-size: 12px;
    --block-shadow-color: var(--black);
}

button.long-button {
    padding: 4px;
    width: 260px;
}

div.container {
    width: 750px;
    display: absolute;
    margin: 0 auto;
    padding: 30px 50px;
    --block-background-color: var(--background);
}

div.header {
    width: 100%;
    margin-top: 20px;
}

#webcam-canvas {
    position: absolute;
    margin-top: 450px;
    pointer-events: none;

}

#video-canvas {
    position: absolute;
    pointer-events: none;

}